@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('./IosevkaNicbuddSansV1/IosevkaNicbuddSansV1.css');
@import url('./IosevkaNicbuddSlabV1/IosevkaNicbuddSlabV1.css');
@import url('./textThemes.css');

:root{
	--white: #E6E6E6;
	--lightGray: #C3C3C3;
	--darkGray: #949494;
	--black: #303030;
	--red: #C14747;
	--green: #3BA769;
	--blue: #316FA6;
    --menuheight: 30px;
    --menugap: 4px;
}

* {
    box-sizing: border-box;
}

#mainmenu {
    height: var(--menuheight);
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-wrap: nowrap; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: var(--black);
}

#mainmenu button {
    margin: 0 8px;
    /* padding: 4px; */
    /* padding: 0 -2px; */
    border: none;
    width: var(--menuheight);
    height: var(--menuheight);
    background-color: var(--black);
    color: var(--white);
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s, background 0.2s;
}

/* #mainmenu button:hover {
    background-color: var(--white);
    color: var(--black);
} */

#mainmenu .left {
    justify-content:left;
}

#mainmenu .center {
    display: flex;
    justify-content:center;
}

#mainmenu .right {
    display: flex;
    justify-content:right;
}

#mainmenu .title {
    font-weight: 700;
    font-size: 22px;
}

#feedgrid {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 33.33333%);
    padding: 0;
    margin: 0;
    row-gap: 4px;
    column-gap: 4px;
    width: 100%;
    height: 100%;
    /* height: calc(100% - 20px); */
    position: fixed;
    bottom: 0px;
    min-height: calc(100% - var(--menuheight) - var(--menugap));
    max-height: calc(100% - var(--menuheight) - var(--menugap));
}

@media screen and (max-width: 1200px) {
    #feedgrid {
        grid-template-rows: repeat(3, 33.33333%);
        grid-template-columns: 100%;
    }
}

.feed {
    margin: 0;
    padding: 8px;
    background: #303030;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    /* flex-wrap: wrap; */
    align-items: flex-end;
    overflow-y: auto;
    scrollbar-width: none;
    /* grid-template-columns: 100%; */
}

body {
    padding: 0;
    margin: 0;
    background: #949494;
    font-weight: normal;
    font-size: 0.85em;

    /* font-stretch: expanded; */
    /* font-family: "Iosevka Nicbudd Slab v1 Web", "Iosevka Nicbudd Sans v1 Web", Inconsolata, Monospace;  */
    
    font-stretch: normal;
    font-family: "Iosevka Nicbudd Sans v1 Web", Inconsolata, Monospace; 

    color: #e6e6e6;
}


a {
    color: var(--white)
}

.message {
    width: 100%;
    display: block;
    color: var(--white);
    text-decoration: none;
    padding: 2px 0;
}

.message.error {
    color: var(--red)
}

.message:hover {
    font-weight: 800;
}

.blinker {
    transition: background 2s;
    background-color: #949494;
    position: fixed;
    display: block;
    left: 24px;
    top: 24px;
    width: 16px;
    height: 16px;
    border-radius: 200px;
    z-index: 3;
}

.poll {
    transition: background 5s;
    background-color: #949494;
    position: fixed;
    display: block;
    left: 24px;
    top: 24px;
    width: 16px;
    height: 16px;
    border-radius: 200px;
    z-index: 2;
}


@keyframes blink {
    0%   {background-color: #3ba769;}
    100% {background-color: #3ba769; opacity: 0; width: 48px; height: 48px; transform: translate(-16px, -16px);}
}

.blinkAnimation {
    transition: background 0s;
    animation: blink 2s ease-out;
}

.responseWait {
    background: #c14747 !important;
}

#idlescreen {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(16px);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#idlescreen .title {
    font-weight: 900;
    font-size: 32px;
    padding: 0 1em;
}

#idlescreen .content {
    font-size: 16px;
    padding: 0 1em;
}

.none {
    display: none !important;
}

.time {
    font-weight: 700;
    text-decoration: underline;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: brightness(40%) blur(2px);
    z-index: 3;
}

#info .infobox  {
    display: inline-block;
    max-width: 50%;
    padding: 0px 32px;
    background-color: var(--black);
    text-align: center;
    font-size: 1.2em;
}

#info .infobox li {
    text-align: left;
}

@media screen and (max-width: 800px) {
    #info .infobox {
        max-width: 80%;
        font-size: 1em;
    }
}

#info .infobox a {
    color: var(--blue)
}