.blue {
    color: #316fa6 !important;
}
.bluebg {
    background: #316fa6 !important;
}

.green {
    color: #3ba769 !important;
}
.greenbg {
    background: #3ba769 !important;
}

.red {
    color: #c14747 !important;
}
.redbg {
    background: #c14747 !important;
}

.orange {
    color: #bf8060 !important;
}
.orangebg {
    background: #bf8060 !important;
}

.white {
    color: #e6e6e6 !important;
}
.whitebg {
    background: #e6e6e6 !important;
}

.black {
    color: #303030 !important;
}
.blackbg {
    background: #303030 !important;
}