.purple {
    color: #7c56b5 !important;
}
.purplebg {
    background: #7c56b5 !important;
}

.blue {
    color: #316fa6 !important;
}
.bluebg {
    background: #316fa6 !important;
}

.green {
    color: #3ba769 !important;
}
.greenbg {
    background: #3ba769 !important;
}

.red {
    color: #c14747 !important;
}
.redbg {
    background: #c14747 !important;
}

.orange {
    color: #bf8060 !important;
}
.orangebg {
    background: #bf8060 !important;
}

.white {
    color: #e6e6e6 !important;
}
.whitebg {
    background: #e6e6e6 !important;
}

.gray {
    color: #949494 !important;
}
.graybg {
    background: #949494 !important;
}

.lightgray {
    color: #c3c3c3 !important;
}
.lightgraybg {
    background: #c3c3c3 !important;
}

.black {
    color: #303030 !important;
}
.blackbg {
    background: #303030 !important;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 900;
}

.emergency {
    font-weight: 900;
    animation: emergency 3s infinite;
}

@keyframes emergency {
    0%, 100% {
        color: var(--black);
        background-color: var(--red);
    }
    50% {
        color: var(--red);
        background-color: var(--white);
    }
}