
@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-Thin.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedThin.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedThin.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedThin.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ThinOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ThinOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedThinOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedThinOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedThinOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedThinOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedThinOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedThinOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ThinItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedThinItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedThinItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedThinItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtraLight.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedExtraLight.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedExtraLight.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedExtraLight.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtraLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtraLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedExtraLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedExtraLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedExtraLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedExtraLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedExtraLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedExtraLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtraLightItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedExtraLightItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedExtraLightItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedExtraLightItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-Light.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedLight.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedLight.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedLight.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-LightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-LightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedLightOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-LightItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedLightItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedLightItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedLightItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-Regular.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-Extended.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-Condensed.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtended.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-Oblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-Oblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-Italic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-Medium.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedMedium.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedMedium.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedMedium.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-MediumOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-MediumOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedMediumOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedMediumOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedMediumOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedMediumOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedMediumOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedMediumOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-MediumItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedMediumItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedMediumItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedMediumItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-SemiBold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedSemiBold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedSemiBold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedSemiBold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-SemiBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-SemiBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedSemiBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedSemiBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedSemiBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedSemiBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedSemiBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedSemiBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-SemiBoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedSemiBoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedSemiBoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedSemiBoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-Bold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedBold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedBold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedBold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-BoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-BoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-BoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedBoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedBoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedBoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtraBold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedExtraBold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedExtraBold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedExtraBold.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtraBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtraBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedExtraBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedExtraBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedExtraBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedExtraBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedExtraBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedExtraBoldOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtraBoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedExtraBoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedExtraBoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedExtraBoldItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-Heavy.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedHeavy.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedHeavy.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedHeavy.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-HeavyOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-HeavyOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedHeavyOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedHeavyOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedHeavyOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedHeavyOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedHeavyOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedHeavyOblique.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-HeavyItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-ExtendedHeavyItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-CondensedHeavyItalic.woff2') format('woff2')
}

@font-face {
	font-family: 'Iosevka Nicbudd Slab v1 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('./WOFF2/IosevkaNicbuddSlabV1-UltraExtendedHeavyItalic.woff2') format('woff2')
}
